__pycache__
rendered
.coverage
.hypothesis
.venv
build
*.egg-info
interactive_templates/templates/*/interactive_codelists/
interactive_templates/templates/*/metadata/
interactive_templates/templates/*/output/
interactive_templates/templates/*/project.yaml
