# Unfortunately, setuptools_scm doesn't work for including package data when
# installed from a github archive zip, as there's no git metadata to tell it
# about the extra files.
#
# So we add a manual include for template files so that it works in this case
recursive-include interactive_templates/templates *.tmpl *.j2 *.txt *.html *.json *.csv
# don't include any files from local development
recursive-exclude interactive_templates/templates/*/interactive_codelists *.csv
recursive-exclude interactive_templates/templates/*/output *
recursive-exclude interactive_templates/templates/*/metadata *
exclude interactive_templates/templates/*/project.yaml
exclude interactive_templates/templates/*/config.json
# don't ship tests or project dev infra
recursive-exclude tests *.py
recursive-exclude docs *.md
exclude *.md
exclude requirements.*
exclude Dockerfile justfile docker-compose.yaml
exclude .*
